.colTitle {
	-fx-font: bold 14 sans-serif;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
	-fx-text-overrun: clip;
}

.option {
	-fx-content-display: center;
	-fx-cursor: hand;
}

Button {
	-fx-background-color: #DDD;
	-fx-text-fill: #000;
	-fx-background-radius: 0;
}

Button:focused {
	-fx-underline: true;
}

Button.active {
	-fx-background-color: #444;
	-fx-text-fill: #DDD;
}